.all-startups {
    width: fit-content;
    margin: 0px auto;
    font-size: 36px;
    font-weight: 500;
    margin-top: 32px;
}

.cardComponent-grid {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 425px) {

    .card-grid {
        margin-top: 19.25rem;
    }

    .all-startups {
        font-size: 5rem;
    }

    .cardComponent-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}