.all-startups {
    width: fit-content;
    margin: 0px auto;
    font-size: 36px;
    font-weight: 500;
    margin-top: 32px;
}

.cardComponent-grid {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (min-width: 1024px) and (max-width: 1439px) {


    .cardComponent-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-startups {
        margin-top: 4.5rem;
        font-size: 1.75rem;
    }

}

@media (min-width: 920px) and (max-width: 1023px) {
    .cardComponent-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-startups {
        margin-top: 7rem;
    }
}



@media (min-width: 768px) and (max-width: 919px) {

    .cardComponent-grid {
        grid-template-columns: repeat(1, 1fr);
    }


    .all-startups {
        margin-top: 7rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .all-startups {
        margin-top: 8rem;
        font-size: 1.5rem;
    }

    .cardComponent-grid {
        margin: 1rem;
        grid-template-columns: repeat(1, 1fr);        
    }  
} 

