.create-left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    position: relative;
    margin-right: 20px;
}

.create-left-h1 {
    font-weight: 700;
    line-height: 4.375rem;
    font-size: 3.25rem;
}

.create-left-p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
}

.image-cards-create-page {
    display: flex;
    justify-content: end;
    margin-top: 2.5rem;
    position: relative;
}

.image-holder-create-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-holder-create-page:nth-of-type(1) {
    position: absolute;
    top: 8.75rem;
    right: 13.5rem;
}

.purple-grad-create-left {
    width: 23.125rem;
    height: 23.125rem;
    background-color: #efceff;
    opacity: 60%;
    border-radius: 9999px;
    box-shadow: 0 0 190px 10px #e2a8ff;
    position: absolute;
    z-index: -1;
    left: 22.375rem;
    top: 37.875rem;
}

.yellow-grad-create-left {
    width: 23.125rem;
    height: 23.125rem;
    background-color: #ffe89e;
    opacity: 44%;
    box-shadow: 0 0 190px 10px #ffd342;
    border-radius: 999px;
    position: absolute;
    z-index: -1;
    top: -3.125rem;
    left: -5rem;
}

.image-holder-create-page:nth-of-type(3) {
    display: none;
}


@media (min-width: 1024px) and (max-width: 1439px) {

    .create-left {
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .create-left-header {
        width: 33.375rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .create-left-h1 {
        line-height: 3.375rem;
        font-size: 2.25rem;
    }

    .create-left-p {
        font-size: 1rem;
    }

    .purple-grad-create-left {
        margin-left: auto;
        right: 0.75rem;
        top: 17.125rem;
    }

    .image-holder-create-page:nth-of-type(1) {
        top: 8.75rem;
        right: 10.5rem;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {

    .create-left {
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .create-left-header {

        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .create-left-h1 {
        text-align: center;
    }

    .create-left-p {
        text-align: center;
    }

    .purple-grad-create-left {
        margin-left: auto;
        right: 0.75rem;
        top: 39.125rem;
    }

    .image-holder-create-page:nth-of-type(1) {
        top: 8.75rem;
        right: 12.5rem;
    }

    .image-cards-create-page {
        margin-left: auto;
    }

    .image-holder-create-page:nth-of-type(3) {
        display: block;
        position: absolute;
        right: 25rem;
        top: 17.5rem;
    }
}


@media (min-width: 320px) and (max-width: 424px) {

    .create-left {
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .create-left-header {

        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .create-left-h1 {
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
    }

    .create-left-p {
        text-align: center;
        font-size: 1rem;
    }

    .purple-grad-create-left {
        display: none;
        margin-left: auto;
        right: 0.75rem;
        top: 39.125rem;
    }

    .image-holder-create-page:nth-of-type(1) {
        top: 8.75rem;
        right: 7.5rem;
    }

    .image-cards-create-page {
        margin-left: auto;
    }

    .image-holder-create-page:nth-of-type(3) {
        display: block;
        position: absolute;
        right: 15rem;
        top: 14.5rem;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    .create-left {
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .create-left-header {

        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .create-left-h1 {
        text-align: center;
        line-height: 3rem;
        font-size: 2rem;
    }

    .create-left-p {
        text-align: center;
        font-size: 1rem;
    }

    .purple-grad-create-left {
        margin-left: auto;
        right: 0.75rem;
        top: 32.125rem;
    }

    .image-holder-create-page:nth-of-type(1) {
        top: 8.75rem;
        right: 10.5rem;
    }

    .image-cards-create-page {
        margin-left: auto;
    }

    .image-holder-create-page:nth-of-type(3) {
        display: block;
        position: absolute;
        right: 21rem;
        top: 17.5rem;
    }
}