.create-left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    position: relative;
    margin-right: 20px;
}

.create-left-h1 {
    font-weight: 700;
    line-height: 4.375rem;
    font-size: 3.25rem;
}

.create-left-p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
}

.image-cards-create-page {
    display: flex;
    justify-content: end;
    margin-top: 2.5rem;
    position: relative;
}

.image-holder-create-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-holder-create-page:nth-of-type(1) {
    position: absolute;
    top: 8.75rem;
    right: 13.5rem;
}

.purple-grad-create-left {
    width: 23.125rem;
    height: 23.125rem;
    background-color: #efceff;
    opacity: 60%;
    border-radius: 9999px;
    box-shadow: 0  0  190px  10px  #e2a8ff;
    position: absolute;
    z-index: -1;
    left: 22.375rem;
    top: 37.875rem;
}

.yellow-grad-create-left {
    width: 23.125rem;
    height: 23.125rem;
    background-color: #ffe89e;
    opacity: 44%;
    box-shadow: 0 0 190px 10px #ffd342;
    border-radius: 999px;
    position: absolute;
    z-index: -1;
    top:  -3.125rem;
    left: -5rem;
}

@media (max-width:1024px){
    .create-left {
        display: flex;
        gap: 21.125rem;
        margin-right: 0px;
        align-items: center;
    }

    .create-left-header {
        width: 39.375rem;
    }

    .purple-grad-create-left {
        left: 49.375rem;
        top: 28.75rem;
    }

    .quill {
        width: 69.75rem;
        height: 20rem;
    }
}


