.filter-btns {
    margin: 28px 32px 0px;
}

.filter-btn-container {
    display: flex;
    gap: 12px;
}

.filter-button-inactive {
    background-color: white;
    width: 6.25rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 16px;
}

.filter-button-active {
    background-color: #f472b6;
    color: #FAF4EF;
    width: 6.25rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 16px;
}

@media (max-width: 425px) {

    .filter-btn-container {
        justify-content: center;
        gap: 2.5rem;
    }

    .filter-button-active {
        width: 30.25rem;
        height: 7rem;
        font-size: 3rem;
    }

    .filter-button-inactive {
        width: 30.25rem;
        height: 7rem;
        font-size: 3rem;
    }

    .filter-btns {
        margin: 5rem 0rem 3rem;
    }

    
}