.filter-btns {
    margin: 28px 32px 0px;
}

.filter-btn-container {
    display: flex;
    gap: 12px;
}

.filter-button-inactive {
    background-color: white;
    width: 6.25rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 16px;
}

.filter-button-active {
    background-color: #f472b6;
    color: #FAF4EF;
    width: 6.25rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .filter-button-active {
        font-size: 1rem;
        border: 0.75rem;
    }

    .filter-button-inactive {
        font-size: 1rem;
        border-radius: 0.75rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .filter-btns {
        margin: 2rem 1rem 0px;
        display: flex;
        justify-content: center;
    }

    .filter-button-active {
        height: 2.5rem;
        font-size: 1rem;
        border-radius: 0.75rem;
    }

    .filter-button-inactive {
        height: 2.5rem;
        font-size: 1rem;
        border-radius: 0.75rem;
    }
}