.image-card {
  width: 11.25rem;
  height: 15.75rem;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.12, 0.23, 0.5, 1);
}

.image-card-contain {
  object-fit: cover;
}

.image-card:hover {
  box-shadow: 0 0 24px -2px #652FC2;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .image-card {
    width: 8.25rem;
    height: 11.75rem;
    border-radius: 1.125rem;

  }
}


@media (min-width: 320px) and (max-width: 424px) {

  .image-card {
    width: 6.25rem;
    height: 8.75rem;
    border-radius: 0.5rem;
  }


}

@media (min-width: 425px) and (max-width: 767px) {

  .image-card {
    width: 9.25rem;
    height: 12.75rem;
    border-radius: 0.5rem;
  }
}